.patient-appt-container {
  height: 30px;
  background-color: #f4f2f2;
  color: #07234B;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  text-align: center;
  box-shadow: 0 0 10px grey;
  padding: 10px;
  margin: 10px;
}

.doctor-appt-container {
  height: 30px;
  background-color: #f4f2f2;
  color: #07234B;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  text-align: center;
  box-shadow: 0 0 10px grey;
  padding: 10px;
  margin: 10px;
}
.doctor-appt-container:hover, .patient-appt-container:hover {
  cursor: pointer;
}